
<form class="" action="/" method="post">
  <label for="">Enter name here:</label>
  <input required id="nameInput" type="text" name="name" value="">
  <button type="submit" name="button">Submit</button>
</form>

<h3>Your group:</h3>

<ul id="nameList">
  <li>A fake ass name</li>
</ul>

<button id="genButton" type="button" name="genButton">Secret Santify</button>
