<h1>Loading...</h1>

<img style="width: 400px;" onload="const redirect = () => {window.location='/results'}; setTimeout(redirect, 3000)" id="loadingSanta" src="http://bestanimations.com/Holidays/Christmas/santa/funny-santa-claus-gif-2.gif" alt="">
